*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/doc
**.orig
rerun.txt
pickle-email-*.html

*.ipr
*.iws
*.iml
*.rdoc

.project
.idea
.rakeTasks
.generators
.rspec
.rvmrc
.ruby-version
.DS_Store

# Other
/spec/Spec.iml

# Database configuration
/config/database.yml

# Ignore output of:
# $ rails_best_practices -f html .
/rails_best_practices_output.html

# Ignore output of:
# $ brakeman -o brakeman.html
/brakeman.html

# Ignore uploads dir (must be ignored to make symlink via capistrano)
/public/uploads

# Ignore application configuration
/config/application.yml


# Don't ignore .gitkeep
!.gitkeep
