--color
--drb
--format documentation
#--tag=~local_off # uncomment if you dont want to run some specs local
#--tag=~js # uncomment if you dont want to run capybara js specs
#--tag=~selenium # uncomment if you dont want to run capybara selenium specs in firefox
#--tag=~railstom # uncomment if you dont want to run specs related to railstom
