---
language: ruby
rvm:
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - 2.1.2
bundler_args: --without development
env:
  global:
    - RAILS_ENV=test
    - COVERALLS=1
    - DISPLAY=:99.0
  matrix:
    - CI_NODE_TOTAL=2 CI_NODE_INDEX=0
    - CI_NODE_TOTAL=2 CI_NODE_INDEX=1
services:
  - redis-server
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
before_script:
  - cp .rspec.example .rspec
  - cp config/application.yml.example config/application.yml
  - cp config/database.yml.example config/database.yml
  - mysql -e 'create database railstom_test;'
  - bundle exec rake db:test:load
script:
  - bundle exec rake knapsack:rspec
  - bundle exec rake spec:javascript
notifications:
  email: false
