---
language: ruby
rvm:
  - 1.9.3
  - 2.0.0
bundler_args: --without development --path=~/.bundle
env:
  global:
    - BUNDLE_ARCHIVE="railstom-bundle-archive"
    - RAILS_ENV=test
    - secure: "KJZBdPMdwCop6S0rVxt6kSC9BoRx3R3w9GB+5irwlPCoOYGjVk59FRXIHsJ3\nC/LHX6jZPUKULaD7s2pIU5ad31JHydXA0iPUQjUhCVZsxHchw+RfAV5uNVu0\nD89K1d21jAi4f8SvcHV2o36J2GljsoehYbtsCXuaV1UvOUdq0iA="
services:
  - redis-server
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - ./script/travis/bundle_install.sh
before_script:
  - cp .rspec.example .rspec
  - cp config/application.yml.example config/application.yml
  - cp config/database.yml.example config/database.yml
  - mysql -e 'create database railstom_test;'
  - bundle exec rake db:test:load
script:
  - COVERALLS=1 bundle exec rspec spec
after_script:
  - ruby script/travis/bundle_cache.rb
notifications:
  email: false
