language: ruby
rvm:
  - "1.9.3"
  - "2.0.0"
bundler_args: --without development
services:
  - redis-server
env:
  - RAILS_ENV=TEST
before_script:
  - cp .rspec.example .rspec
  - cp config/application.yml.example config/application.yml
  - cp config/database.yml.example config/database.yml
  - mysql -e 'create database railstom_test;'
  - rake db:test:prepare
script: rspec spec
notifications:
  email: false
