$red: #c60f13;

// Alert colors
$green-light: rgb(223, 240, 216);
$green-normal: rgb(214, 233, 198);
$green-dark: rgb(70, 136, 71);

$red-light: rgb(242, 222, 222);
$red-normal: rgb(238, 211, 215);
$red-dark: rgb(185, 74, 72);

$blue-light: rgb(217, 237, 247);
$blue-normal: rgb(188, 232, 241);
$blue-dark: rgb(58, 135, 173);

$yellow-light: rgb(251, 238, 213);
$yellow-normal: rgb(252, 248, 227);
$yellow-dark: rgb(192, 152, 83);
