<div class="row footer">
  <div class="large-12 columns">
    <%= copyright_year_of_founding(Figaro.env.site_year_of_founding) %>
    &middot;
    <%= link_to t('layouts.application.words.contact'), default_locale_page_path('contact') %>
  </div>
</div>
